@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 700;
}

html,
body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 960px) {
  body.lock {
    overflow: hidden;
  }
}

.wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  padding: 0 20px;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 2;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 68px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 960px) {
  .header__body {
    height: 50px;
  }
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 250px;
          flex: 0 0 250px;
  position: relative;
  z-index: 3;
}

.header__logo img {
  max-width: 100%;
  display: block;
}

@media (max-width: 960px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 200px;
            flex: 0 0 200px;
  }
}

.header__burger {
  display: none;
}

@media (max-width: 960px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: #000;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before, .header__burger:after {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@media (max-width: 960px) {
  .header__menu {
    position: fixed;
    top: -300%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 100px 10px 20px 10px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }
  .header__menu.active {
    top: 0;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.header__list li {
  list-style: none;
  margin-left: 28px;
}

@media (max-width: 960px) {
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0 0 20px 0;
  }
}

.header__link {
  color: #1e1e1e;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid #6e002e00;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__link:hover {
  border-bottom: 1px solid #6e002e;
}

@media (max-width: 960px) {
  .header__link {
    font-size: 24px;
    line-height: 30px;
  }
}

.mainscreen {
  min-height: 659px;
  background: url("../img/img/main/mainbg.jpg") center no-repeat;
}

@media (max-width: 640px) {
  .mainscreen {
    min-height: 600px;
  }
}

@media (max-width: 560px) {
  .mainscreen {
    min-height: 500px;
  }
}

.mainscreen__body {
  min-height: 659px;
  background: url("../img/img/main/lady1.png") bottom left no-repeat, url("../img/img/main/lady2.png") bottom right no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 960px) {
  .mainscreen__body {
    background: url("../img/img/main/lady1.png") -5% 100% no-repeat, url("../img/img/main/lady2.png") 105% 100% no-repeat;
  }
}

@media (max-width: 767px) {
  .mainscreen__body {
    background: url("../img/img/main/lady1.png") -22% 100% no-repeat, url("../img/img/main/lady2.png") 122% 100% no-repeat;
  }
}

@media (max-width: 640px) {
  .mainscreen__body {
    background: url("../img/img/main/lady1.png") -20% 100%/35% no-repeat, url("../img/img/main/lady2.png") 120% 100%/35% no-repeat;
    min-height: 600px;
  }
}

@media (max-width: 560px) {
  .mainscreen__body {
    background: url("../img/img/main/lady1.png") -20% 100%/35% no-repeat, url("../img/img/main/lady2.png") 120% 100%/35% no-repeat;
    min-height: 500px;
  }
}

@media (max-width: 420px) {
  .mainscreen__body {
    background: url("../img/img/main/lady1.png") -40% 100%/45% no-repeat, url("../img/img/main/lady2.png") 140% 100%/45% no-repeat;
    min-height: 500px;
  }
}

.mainscreen__title {
  color: #ffffff;
  font-size: 34px;
  font-weight: 300;
  letter-spacing: 0.34px;
}

@media (max-width: 640px) {
  .mainscreen__title {
    font-size: 24px;
    letter-spacing: 0.24px;
  }
}

@media (max-width: 560px) {
  .mainscreen__title {
    font-size: 16px;
  }
}

.mainscreen__subtitle {
  color: #ffffff;
  font-size: 82px;
  font-weight: 700;
  padding-bottom: 24px;
  border-bottom: solid 3px #fff;
  margin-bottom: 44px;
}

@media (max-width: 640px) {
  .mainscreen__subtitle {
    font-size: 57px;
    margin-bottom: 26px;
  }
}

@media (max-width: 560px) {
  .mainscreen__subtitle {
    font-size: 40px;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
}

.mainscreen__discount {
  color: #ffffff;
  font-size: 24px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

@media (max-width: 640px) {
  .mainscreen__discount {
    font-size: 18px;
    margin-bottom: 0;
  }
}

@media (max-width: 560px) {
  .mainscreen__discount {
    font-size: 14px;
  }
}

.mainscreen__price {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 40px;
}

.mainscreen__price span {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
}

@media (max-width: 640px) {
  .mainscreen__price {
    margin-bottom: 20px;
  }
}

@media (max-width: 560px) {
  .mainscreen__price {
    font-size: 24px;
  }
  .mainscreen__price span {
    font-size: 30px;
  }
}

@media (max-width: 960px) {
  .mainscreen__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.mainscreen__button {
  padding: 22px 18px;
  color: #fff;
  border: 2px solid #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  margin-right: 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.mainscreen__button:hover {
  background-color: #fff;
  color: #6e002e;
}

@media (max-width: 960px) {
  .mainscreen__button {
    margin: 0px 0px 20px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 640px) {
  .mainscreen__button {
    padding: 22px 44px;
    margin: 0px 0px 15px 0px;
  }
}

@media (max-width: 560px) {
  .mainscreen__button {
    padding: 10px 16px;
    font-size: 14px;
  }
}

.info {
  padding: 0 20px;
  margin: 50px 0 26px 0;
}

.info__body {
  text-align: center;
}

.title {
  text-align: center;
  color: #1e1e1e;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 52px;
  line-height: 130%;
}

.title:after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  background-color: #000;
  width: 90px;
  height: 3px;
  display: block;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

@media (max-width: 640px) {
  .title {
    font-size: 24px;
  }
}

.info__text {
  color: #1e1e1e;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.info__text p {
  margin-bottom: 10px;
}

.slider {
  /* Лента слайдов */
}

.slider .slick-list {
  overflow: hidden;
}

.slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.table {
  padding: 41px 20px 50px 20px;
  margin-bottom: 50px;
  min-height: 431px;
  background: url("../img/img/table/tablebg.jpg") center/cover no-repeat;
}

@media (max-width: 640px) {
  .table {
    padding: 20px;
    min-height: 300px;
    margin-bottom: 20px;
  }
}

@media (max-width: 380px) {
  .table {
    padding: 20px 0;
  }
}

.table__bg {
  background-color: #fff;
  padding: 30px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}

@media (max-width: 640px) {
  .table__bg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px;
  }
}

@media (max-width: 380px) {
  .table__bg {
    padding: 0;
  }
}

.table__row {
  height: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.table__row:nth-child(odd) {
  background-color: #f3f3f3;
}

@media (max-width: 640px) {
  .table__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}

@media (max-width: 440px) {
  .table__row {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 20%;
            flex: 1 1 20%;
  }
}

.table__row-name {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  color: #1e1e1e;
  font-size: 14px;
  font-weight: 700;
  line-height: 48px;
  padding: 0 28px;
}

.table__row-name img {
  display: none;
  height: 30px;
}

@media (max-width: 960px) {
  .table__row-name {
    padding: 0 5px;
  }
}

@media (max-width: 640px) {
  .table__row-name {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    font-size: 10px;
  }
}

@media (max-width: 440px) {
  .table__row-name {
    font-size: 0;
    line-height: 0;
  }
  .table__row-name img {
    display: block;
    margin: 10px;
  }
}

.table__row-size {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 12.5%;
          flex: 1 1 12.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px;
  font-size: 14px;
}

.table__row-size span {
  font-weight: 700;
}

@media (max-width: 640px) {
  .table__row-size {
    padding: 5px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}

@media (max-width: 380px) {
  .table__row-size {
    font-size: 10px;
  }
}

.catalog {
  margin-bottom: 90px;
}

@media (max-width: 960px) {
  .catalog {
    margin-bottom: 40px;
  }
}

@media (max-width: 640px) {
  .catalog {
    margin-bottom: 20px;
  }
}

.catalog__tabs-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.catalog__tab {
  color: #1e1e1e;
  font-size: 18px;
  line-height: 36px;
  text-transform: uppercase;
  padding: 27px 35px;
  background-color: #f3f3f3;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.catalog__tab.active-tab {
  color: #ffffff;
  background-color: #ba0152;
}

@media (max-width: 640px) {
  .catalog__tab {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
  }
}

.catalog__block {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 960px) {
  .catalog__block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.catalog__card {
  margin: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  text-align: center;
  padding-bottom: 52px;
  border: 1px solid #dbdbdf;
}

.card-image {
  position: relative;
  height: 350px;
}

.card-image img {
  max-width: 100%;
}

.card-discount {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #b4014e;
  border-radius: 50%;
  color: #e6e6e6;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

.card-title {
  color: #1e1e1e;
  font-size: 18px;
  font-weight: 700;
  margin: 20px 0;
}

.card-sizes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 16px;
}

.card-size {
  color: #1e1e1e;
  font-size: 18px;
  text-transform: uppercase;
  padding: 0 10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: 1px solid #fff;
  margin: 0 1px;
  cursor: pointer;
}

.card-size.passive {
  color: #ceced3;
}

.card-size.clicked {
  border-radius: 2px;
  border: 1px solid #ba0152;
}

.card-colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.card-color {
  margin: 0 5px;
  border: 2px solid #dbdbdf;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.card-color.black-color {
  background-color: #000;
}

.card-color.red-color {
  background-color: #ff0000;
}

.card-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 32px;
}

.old-price {
  color: #8c8c8c;
  font-size: 24px;
  line-height: 36px;
  text-decoration: line-through;
  margin-right: 22px;
}

.new-price {
  color: #b4014e;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.card-button {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
  padding: 20px 85px;
  -webkit-box-shadow: 0 4px 0 #375cb3;
          box-shadow: 0 4px 0 #375cb3;
  border-radius: 4px;
  background-color: #e8a900;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#4776e6), to(#8e54e9));
  background-image: linear-gradient(to top, #4776e6 0%, #8e54e9 100%);
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.card-button:hover {
  top: 2px;
  -webkit-box-shadow: 0 2px 0 #375cb3;
          box-shadow: 0 2px 0 #375cb3;
}

.chosen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.how {
  padding: 80px 10px 120px 10px;
  background-color: #f7f2f4;
}

@media (max-width: 960px) {
  .how {
    padding: 20px 10px 40px 10px;
  }
}

.how__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.how__items:after {
  content: '';
  position: absolute;
  top: 164px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: block;
  width: 75%;
  height: 1px;
  border-bottom: 2px dotted #ceced3;
}

@media (max-width: 960px) {
  .how__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .how__items:after {
    display: none;
  }
}

.how__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

@media (max-width: 960px) {
  .how__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 210px;
            flex: 0 0 210px;
  }
}

.how__icon {
  border: 6px solid rgba(180, 1, 78, 0.5);
  background-color: #b4014e;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.how__decor {
  width: 10px;
  height: 10px;
  background-color: #ceced3;
  border: 3px solid rgba(207, 207, 211, 0.3);
  border-radius: 50%;
  margin-bottom: 16px;
  position: relative;
}

.how__decor:before {
  content: '';
  position: absolute;
  top: -6px;
  left: -6px;
  border-radius: 50%;
  display: block;
  background-color: #ceced3;
  opacity: 0.3;
  width: 16px;
  height: 16px;
}

.how__text {
  text-align: center;
  color: #1e1e1e;
  font-size: 16px;
  line-height: 24px;
}
