@import "_nullstyle";

html,
body {
	height: 100%;
	font-family: "Open Sans", sans-serif;
}
body {
	@media (max-width: 960px) {
		&.lock {
			overflow: hidden;
		}
	}
}
.wrapper {
	min-height: 100%;
	position: relative;
	overflow: hidden;
}

//header

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	padding: 0 20px;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		z-index: 2;
	}
}
.container {
	max-width: 1000px;
	margin: 0 auto;
}
.header__body {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 68px;
	align-items: center;
	@media (max-width: 960px) {
		height: 50px;
	}
}
.header__logo {
	flex: 0 0 250px;
	position: relative;
	z-index: 3;
	img {
		max-width: 100%;
		display: block;
	}
	@media (max-width: 960px) {
		flex: 0 0 200px;
	}
}
.header__burger {
	display: none;
	@media (max-width: 960px) {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 3;
		span {
			position: absolute;
			background-color: #000;
			left: 0;
			width: 100%;
			height: 2px;
			top: 9px;
			transition: all 0.3s ease 0s;
		}
		&:before,
		&:after {
			transition: all 0.3s ease 0s;
			content: "";
			background-color: #000;
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
		}
		&:before {
			top: 0;
		}
		&:after {
			bottom: 0;
		}
		&.active:before {
			transform: rotate(45deg);
			top: 9px;
		}
		&.active:after {
			transform: rotate(-45deg);
			bottom: 9px;
		}
		&.active {
			span {
				transform: scale(0);
			}
		}
	}
}
.header__menu {
	@media (max-width: 960px) {
		position: fixed;
		top: -300%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		padding: 100px 10px 20px 10px;
		transition: all 0.3s ease 0s;
		&.active {
			top: 0;
		}
		overflow: auto;
	}
}
.header__list {
	display: flex;
	position: relative;
	z-index: 2;
	li {
		list-style: none;
		margin-left: 28px;
	}
	@media (max-width: 960px) {
		display: block;
		li {
			margin: 0 0 20px 0;
		}
	}
}
.header__link {
	color: #1e1e1e;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	border-bottom: 1px solid #6e002e00;
	transition: all 0.3s ease 0s;
	&:hover {
		border-bottom: 1px solid #6e002e;
	}
	@media (max-width: 960px) {
		font-size: 24px;
		line-height: 30px;
	}
}

//mainscreen

.mainscreen {
	min-height: 659px;
	background: url("../img/img/main/mainbg.jpg") center no-repeat;
	@media (max-width: 640px) {
		min-height: 600px;
	}
	@media (max-width: 560px) {
		min-height: 500px;
	}
}
.mainscreen__body {
	min-height: 659px;
	background: url("../img/img/main/lady1.png") bottom left no-repeat,
		url("../img/img/main/lady2.png") bottom right no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	@media (max-width: 960px) {
		background: url("../img/img/main/lady1.png") -5% 100% no-repeat,
			url("../img/img/main/lady2.png") 105% 100% no-repeat;
	}
	@media (max-width: 767px) {
		background: url("../img/img/main/lady1.png") -22% 100% no-repeat,
			url("../img/img/main/lady2.png") 122% 100% no-repeat;
	}
	@media (max-width: 640px) {
		background: url("../img/img/main/lady1.png") -20% 100%/35% no-repeat,
			url("../img/img/main/lady2.png") 120% 100%/35% no-repeat;
		min-height: 600px;
	}
	@media (max-width: 560px) {
		background: url("../img/img/main/lady1.png") -20% 100%/35% no-repeat,
			url("../img/img/main/lady2.png") 120% 100%/35% no-repeat;
		min-height: 500px;
	}
	@media (max-width: 420px) {
		background: url("../img/img/main/lady1.png") -40% 100%/45% no-repeat,
			url("../img/img/main/lady2.png") 140% 100%/45% no-repeat;
		min-height: 500px;
	}
}
.mainscreen__title {
	color: #ffffff;
	font-size: 34px;
	font-weight: 300;
	letter-spacing: 0.34px;
	@media (max-width: 640px) {
		font-size: 24px;
		letter-spacing: 0.24px;
	}
	@media (max-width: 560px) {
		font-size: 16px;
	}
}
.mainscreen__subtitle {
	color: #ffffff;
	font-size: 82px;
	font-weight: 700;
	padding-bottom: 24px;
	border-bottom: solid 3px #fff;
	margin-bottom: 44px;
	@media (max-width: 640px) {
		font-size: 57px;
		margin-bottom: 26px;
	}
	@media (max-width: 560px) {
		font-size: 40px;
		padding-bottom: 10px;
		margin-bottom: 20px;
	}
}
.mainscreen__discount {
	color: #ffffff;
	font-size: 24px;
	line-height: 26px;
	text-transform: uppercase;
	margin-bottom: 16px;
	@media (max-width: 640px) {
		font-size: 18px;
		margin-bottom: 0;
	}
	@media (max-width: 560px) {
		font-size: 14px;
	}
}
.mainscreen__price {
	color: #ffffff;
	font-size: 36px;
	font-weight: 700;
	line-height: 48px;
	margin-bottom: 40px;
	span {
		color: #ffffff;
		font-size: 48px;
		font-weight: 700;
		line-height: 48px;
	}
	@media (max-width: 640px) {
		margin-bottom: 20px;
	}
	@media (max-width: 560px) {
		font-size: 24px;
		span {
			font-size: 30px;
		}
	}
}
.mainscreen__buttons {
	@media (max-width: 960px) {
		display: flex;
		flex-direction: column;
	}
}
.mainscreen__button {
	padding: 22px 18px;
	color: #fff;
	border: 2px solid #ffffff;
	font-weight: 600;
	font-size: 16px;
	line-height: 30px;
	text-transform: uppercase;
	margin-right: 20px;
	transition: all 0.3s ease 0s;
	&:hover {
		background-color: #fff;
		color: #6e002e;
	}
	@media (max-width: 960px) {
		margin: 0px 0px 20px 0px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	@media (max-width: 640px) {
		padding: 22px 44px;
		margin: 0px 0px 15px 0px;
	}
	@media (max-width: 560px) {
		padding: 10px 16px;
		font-size: 14px;
	}
}

//info

.info {
	padding: 0 20px;
	margin: 50px 0 26px 0;
}
.info__body {
	text-align: center;
}
.title {
	text-align: center;
	color: #1e1e1e;
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 52px;
	line-height: 130%;
	&:after {
		content: "";
		position: absolute;
		bottom: -30px;
		left: 50%;
		background-color: #000;
		width: 90px;
		height: 3px;
		display: block;
		transform: translate(-50%);
	}
	@media (max-width: 640px) {
		font-size: 24px;
	}
}
.info__text {
	color: #1e1e1e;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	p {
		margin-bottom: 10px;
	}
}

//slider

.slider {
	.slick-list {
		overflow: hidden;
	}
	/* Лента слайдов */
	.slick-track {
		display: flex;
		align-items: flex-start;
	}
}

//table

.table {
	padding: 41px 20px 50px 20px;
	margin-bottom: 50px;
	min-height: 431px;
	background: url("../img/img/table/tablebg.jpg") center/cover no-repeat;
	@media (max-width: 640px) {
		padding: 20px;
		min-height: 300px;
		margin-bottom: 20px;
	}
	@media (max-width: 380px) {
		padding: 20px 0;
	}
}
.table__bg {
	background-color: #fff;
	padding: 30px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
	@media (max-width: 640px) {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px;
	}
	@media (max-width: 380px) {
		padding: 0;
	}
}
.table__row {
	height: 41px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	&:nth-child(odd) {
		background-color: #f3f3f3;
	}
	@media (max-width: 640px) {
		flex-direction: column;
		height: 100%;
	}
	@media (max-width: 440px) {
		flex: 1 1 20%;
	}
}
.table__row-name {
	flex: 1 1 25%;
	color: #1e1e1e;
	font-size: 14px;
	font-weight: 700;
	line-height: 48px;
	padding: 0 28px;
	img {
		display: none;
		height: 30px;
	}
	@media (max-width: 960px) {
		padding: 0 5px;
	}
	@media (max-width: 640px) {
		flex: none;
		font-size: 10px;
	}
	@media (max-width: 440px) {
		font-size: 0;
		line-height: 0;
		img {
			display: block;
			margin: 10px;
		}
	}
}
.table__row-size {
	flex: 1 1 12.5%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 5px;
	font-size: 14px;
	span {
		font-weight: 700;
	}
	@media (max-width: 640px) {
		padding: 5px;
		flex: none;
	}
	@media (max-width: 380px) {
		font-size: 10px;
	}
}

//catalog

.catalog {
	margin-bottom: 90px;
	@media (max-width: 960px) {
		margin-bottom: 40px;
	}
	@media (max-width: 640px) {
		margin-bottom: 20px;
	}
}
.catalog__tabs-items {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}
.catalog__tab {
	color: #1e1e1e;
	font-size: 18px;
	line-height: 36px;
	text-transform: uppercase;
	padding: 27px 35px;
	background-color: #f3f3f3;
	transition: all 0.3s ease 0s;
	cursor: pointer;
	&.active-tab {
		color: #ffffff;
		background-color: #ba0152;
	}
	@media (max-width: 640px) {
		text-align: center;
		font-size: 14px;
		line-height: 20px;
	}
}
.catalog__block {
	display: none;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	transition: all 0.3s ease 0s;
	@media (max-width: 960px) {
		justify-content: center;
	}
}
.catalog__card {
	margin: 10px;
	flex: 0 0 300px;
	text-align: center;
	padding-bottom: 52px;
	border: 1px solid #dbdbdf;
}
.card-image {
	position: relative;
	height: 350px;
	img {
		max-width: 100%;
	}
}
.card-discount {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #b4014e;
	border-radius: 50%;
	color: #e6e6e6;
	font-size: 20px;
	font-weight: 700;
	line-height: 36px;
}
.card-title {
	color: #1e1e1e;
	font-size: 18px;
	font-weight: 700;
	margin: 20px 0;
}
.card-sizes {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 16px;
}
.card-size {
	color: #1e1e1e;
	font-size: 18px;
	text-transform: uppercase;
	padding: 0 10px;
	transition: all 0.3s ease 0s;
	border: 1px solid #fff;
	margin: 0 1px;
	cursor: pointer;
	&.passive {
		color: #ceced3;
	}
	&.clicked {
		border-radius: 2px;
		border: 1px solid #ba0152;
	}
}
.card-colors {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}
.card-color {
	margin: 0 5px;
	border: 2px solid #dbdbdf;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	cursor: pointer;
	&.black-color {
		background-color: #000;
	}
	&.red-color {
		background-color: #ff0000;
	}
}
.card-price {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 32px;
}
.old-price {
	color: #8c8c8c;
	font-size: 24px;
	line-height: 36px;
	text-decoration: line-through;
	margin-right: 22px;
}
.new-price {
	color: #b4014e;
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
}
.card-button {
	color: #ffffff;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	padding: 20px 85px;
	box-shadow: 0 4px 0 #375cb3;
	border-radius: 4px;
	background-color: #e8a900;
	background-image: linear-gradient(to top, #4776e6 0%, #8e54e9 100%);
	position: relative;
	top: 0;
	left: 0;
	transition: all 0.3s ease 0s;
	&:hover {
		top: 2px;
		box-shadow: 0 2px 0 #375cb3;
	}
}
.chosen {
	display: flex;
}

//how

.how {
	padding: 80px 10px 120px 10px;
	background-color: #f7f2f4;
	@media (max-width: 960px) {
		padding: 20px 10px 40px 10px;
	}
}
.how__body {
}
.how__title {
}
.how__items {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	&:after {
		content: "";
		position: absolute;
		top: 164px;
		left: 50%;
		transform: translate(-50%);
		display: block;
		width: 75%;
		height: 1px;
		border-bottom: 2px dotted #ceced3;
	}
	@media (max-width: 960px) {
		&:after {
			display: none;
		}
		flex-wrap: wrap;
		justify-content: center;
	}
}
.how__item {
	flex: 1 1 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	@media (max-width: 960px) {
		flex: 0 0 210px;
	}
}
.how__icon {
	border: 6px solid rgba(180, 1, 78, 0.5);
	background-color: #b4014e;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}
.how__decor {
	width: 10px;
	height: 10px;
	background-color: #ceced3;
	border: 3px solid hsla(240, 5%, 82%, 0.3);
	border-radius: 50%;
	margin-bottom: 16px;
	position: relative;
	&:before {
		content: "";
		position: absolute;
		top: -6px;
		left: -6px;
		border-radius: 50%;
		display: block;
		background-color: #ceced3;
		opacity: 0.3;
		width: 16px;
		height: 16px;
	}
}
.how__text {
	text-align: center;
	color: #1e1e1e;
	font-size: 16px;
	line-height: 24px;
}

//popup

.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	&:target{
		opacity: 1;
		visibility: visible;
	}
}
.popup__body {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
}
.popup__content {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	width: 640px;
	height: 350px;
	position: relative;
}
.popup__close {
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
}
.popup__image {
	width: 320px;
	img {
		max-width: 100%;
	}
}
.popup__form {
	width: 320px;
	form {
		padding: 0 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		select {
			-webkit-appearance: none;
			-moz-appearance: none;
			-ms-appearance: none;
			appearance: none;
			outline: 0;
			background: url("../img/icons/popup/select.svg") 96% 50% no-repeat;
			width: 100%;
			height: 46px;
			border: 1px solid #ceced3;
			color: #1e1e1e;
			font-size: 18px;
			line-height: 36px;
			text-transform: uppercase;
			text-align-last: center;
			text-align: center;
			margin-bottom: 10px;
		}
		input {
			border: 1px solid #ceced3;
			margin-bottom: 10px;
			text-align: center;
			font-size: 16px;
			line-height: 36px;
			width: 100%;
			height: 46px;
			&::placeholder{
				color: #8c8c8c;
			}
		}
	}
}
.popup__title {
	color: #1e1e1e;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 15px;
}
.popup__price {
	margin-bottom: 9px;
}
.card-price {
}
.popup-old-price {
}
.old-price {
}
.popup-new-price {
}
.new-price {
}
.popup__input-name {
}
.popup__input-phone {
}
.popup__button-container {
	width: 100%;
	text-align: center;
}
.popup-button{
	padding: 10px;
	width: 100%;
	cursor: pointer;
}